<form action="/apply/<%= jobId %>" method="post">
    <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Name</span>
    <input type="text" name="username" class="form-control" placeholder="Enter Your Name" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon2">Email</span>
    <input type="email" name="email" class="form-control" placeholder="Enter Your Email" aria-label="Email" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon3">Contact</span>
    <input type="text" name="contactNo" class="form-control" placeholder="Enter Your Contact No" aria-label="Contact" aria-describedby="basic-addon1">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>